.users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    background-color: #e0e0e0;
    padding: 20px;
    margin: 0;
}
.user-list{
    background-color: #fff;
    display: flex;
    width: 240px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
}
.user-list img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card{
    margin: 20px 0;
    align-items: center;
}
.card-img{
    width: 135px;
    margin: 5px 0;
}
